#folder
target/
#fixed file
.class
.exe
.log
.prefs
.project
.classpath
.metadata
.settings
.DS_Store
Thumbs.db
.project
*.iml
*.ipr
*.iws
*.tar.gz
.idea

app/src/
browser/src/test/
core/src/main/resources/
core/src/test/
